* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  /* border: 1px solid var(--color-primary); */
}

:root {
  --color-primary: #2a7ae4;
  --color-secondary: #464646;

  --color-bac-primary: #f5f5f5;
  --color-bac-secondary: #eaf2fd;
}

body {
  background-color: var(--color-bac-primary);
  margin: auto;
}

/* HEADER */

header {
  height: 88px;
  width: 80%;
  display: grid;
  align-content: center;
  margin: 0 auto 32px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: auto;
}

.logo__container {
  display: flex;
  align-items: center;
}

.logo__container h3 {
  margin-left: 8px;
  font-size: 16px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 32px;
}

nav a {
  text-decoration: none;
  color: var(--color-secondary);
  font-weight: 500;
}

nav a:hover {
  border-bottom: 4px solid var(--color-primary);
  transition: 0.1s all;
}

/* PROFILE */

.profile__container {
  width: 80%;
  margin: 0 auto 32px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 17px;
}

.profile__container h2 {
  color: var(--color-secondary);
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 24px;
}

.profile__container h3 {
  color: var(--color-secondary);
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 24px;
}

.menu__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu__links a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--color-secondary);
}

/* ABOUT */

.about__container {
  background-color: var(--color-bac-secondary);
  width: 100%;
}

.about {
  margin: 0 auto 32px;
  padding: 64px 0;
  width: 80%;
}

.about h2 {
  font-size: 32px;
  font-weight: bold;
  color: var(--color-secondary);
  margin-bottom: 16px;
}

.about p {
  width: 65%;
  color: var(--color-secondary);
  margin-bottom: 16px;
}

/* SKILLS and HOBBIES */

.skills-hobbies__container {
  width: 80%;
  margin: 0 auto 32px;
}

.skills__hobbies h3 {
  color: var(--color-secondary);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 32px;
}

.skills__hobbies ul {
  list-style: none;
  display: flex;
  /* flex-wrap: wrap; */
  gap: 16px;
}

.skills__hobbies li {
  width: 174px;
  height: 174px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0 0 16px 16px;
}

.skills__hobbies p {
  font-weight: bold;
  color: var(--color-secondary);
  margin-top: 8px;
}

.items {
  margin-bottom: 88px;
}
